.buildpath
.DS_Store
.project
.settings
.idea
composer.lock
/api

#data
/data/
!/data/index.html
!/data/install.lock
!/data/conf/config.php

#public
public/index.php
/public/api
/public/data/log.txt
/public/upload/
!/public/upload/index.html

#
*.zip
*.rar
